meta(http-equiv="X-UA-Compatible" content="IE=edge")
//- meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
link(href="/libs/admin-lte/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="/libs/font-awesome-4.7.0/css/font-awesome.min.css", rel="stylesheet")
link(href="/libs/admin-lte/dist/css/AdminLTE.min.css", rel="stylesheet")
link(href="/libs/admin-lte/dist/css/skins/skin-blue.min.css", rel="stylesheet")
link(href="/style/common.css", rel="stylesheet")
link(href="/libs/bootstrap-switch/bootstrap-switch.css", rel="stylesheet")
link(href="/libs/admin-lte/plugins/iCheck/all.css", rel="stylesheet")
link(href="/libs/webuploader/webuploader.css", rel="stylesheet")