div.footer
		div.foot-info
			div.container
				div.footer-nav
					ul.nav-container
						li
							a(href="/") 首页
						li
							a(href="/cases") 案例展示
						li
							a(href="/star") 明星资源
						li
							a(href="/webstar") 网红推荐
						li
							a(href="/wemedia/wechat") 新微媒体
						li
							a(href="/stage") 舞美设备
						li
							a(href="/news") 最新资讯
						li
							a(href="/connectus") 联系我们
				div.footer-line
				div.copyright
					span
						| Copyright  
						i.fa.fa-copyright
						|  2017 有乐策划
					span 粤ICP备14014656号
					span All Rights Reserved
