.tag-container{
	border: 1px solid #ccc;
	background-color: #fff;
	line-height: 1.42857143;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	height: 3rem;
	border-radius: 4px;
	padding: 0.4rem 0.8rem;
}
.tag-container .btn{
	margin-right: 0.4rem;
}
textarea{
	resize: none;
}


/* upload */
.upload {
  position: relative;
}
.upload input {
  display: none;
}