doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		include ./includes/adminHead
	body.hold-transition.skin-red.sidebar-mini.fixed
		include ./includes/adminHeader
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/admin-lte/dist/js/app.js")
script(src="/libs/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js")
script(src="/js/admin.js")