doctype
html
	head
		meta(charset="utf-8")
		include ./includes/adminContentHead
	body
		block content
	script(src="/libs/jquery/dist/jquery.min.js")
	script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
	script(src="/libs/admin-lte/dist/js/app.min.js")
	script(src="/libs/bootstrap-switch/bootstrap-switch.js")
	script(src="/libs/layer/layer.js")
	script(src="/libs/admin-lte/plugins/iCheck/icheck.min.js")
	script(src="/libs/webuploader/webuploader.js")
	script(src="/js/adminContent.js")